<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace = "com.pj.erp.persistence.HR_DAO">
	
	<insert id="insertMember" parameterType = "com.pj.erp.persistence.MS_VO">
		insert into plan_list_tbl(plan_name, username, posotion_code, plan_regdate, plan_startdate, plan_enddate, plan_objective, plan_state, plan_proposal)
		values(#{plan_name}, #{username}, #{posotion_code}, #{plan_regdate} ,#{plan_startdate} , #{plan_enddate}, #{plan_objective}, #{plan_state}, #{plan_proposal}) 
	</insert>
	
</mapper>