<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace = "com.pj.erp.persistence.ERPDAO">
	<select id="loginCheck" resultType = "java.util.Map" parameterType = "String">
		select *
		from userauth
		where username = #{username}
	</select>
	
	<select id="authCheck" resultType = "java.util.Map" parameterType = "String">
		SELECT username, authority
		FROM authority
		WHERE username = #{username}	
	</select>
	
	<!-- nfc 등록 -->
	<insert id="nfc" parameterType="String">
		insert into nfc_log_tbl(nfc_code, tag_code)
		values(#{nfcid}, lpad(NFC_CODE_SEQ.nextval,8,'NFC_'))
	</insert>
	
	<!-- NFC로 출퇴근 사람 username가져오기 -->
	<select id="selectNfc" parameterType="String" resultType="com.pj.erp.vo.HR.HR_nfc_log">
		Select nfc_code, Min(tag_date) as min, Max(tag_date) as max, e_name, username 
		From nfc_daylog_view
        Where nfc_code = #{nfc_code}
        And tag_date like to_char(sysdate, 'yyyymmdd%')
		Group by e_name, username, nfc_code
	</select>
	
	<!-- 블록체인을 위한 department_group_Code select -->
	<select id="getGroupCode" parameterType="String" resultType="com.pj.erp.vo.BlockChainVO">
		Select e.ether_code as ether_code, e.department_code as department_code  
		    , e.wallet_code as wallet_code, d.department_name as department_name
		From ether_tbl e Join department_tbl d
		On e.department_code = d.department_code
		Where e.department_code = #{department_code} 
	</select>
	
	<!-- 구매할 때 필요한 목록 -->
	<!-- <select id="getProductList" resultType="com.pj.erp.vo.ProductVO">
		select * from material_tbl where material_name like '%'||원재료||'%'
	</select> -->
	
	<!-- 가상화폐 예산편성 내역 insert -->
	<insert id="insertLog" parameterType="com.pj.erp.vo.HashVO">
		Insert Into ether_rec_tbl(department_code, e_subject, e_hashcode)
		Values (#{department_code}, #{e_subject}, #{e_hashcode})
	</insert>
	
	<!-- 가상화폐 예산편성 내역 select -->
	<select id="selectHashDept" parameterType="String" resultType="com.pj.erp.vo.HashVO">
		Select e.ether_rec_code as ehter_rec_code,
	        e.department_code as department_code,
	        e.e_subject as e_subject,
	        e.e_hashcode as e_hashcode,
	        d.department_name as department_name
	    From ether_rec_tbl e Join department_tbl d
	    On e.department_code = d.department_code
	    Where d.department_name like '%'|| #{department_name} ||'%'	
	</select>

</mapper>